.box {

    display: flex;
    flex-direction: column;
    flex-grow: auto;
    align-self: auto;
    background: rgba(#d4e4e1 , 0.75)
}

.button{

    display: flex;
    background: rgba(#d4e4e1 , 0.75);
    box-shadow: 0 5px 5px -3px rgba(0 ,0 ,0, 0.05) ,
     0 3px 14px 2px rgba(0 ,0 ,0, 0.05) ;
}