<div class="root">
  <!--* board bar and columns HTML -->

  <div class="board">
    <div class="baord-wrapper">

        <div class="board-columns" cdkDropListGroup>
            <div class="board-column">
                <div class="column-title">
                    Employees
                </div>
                <div class="task-container"
                cdkDropList
                #todoList="cdkDropList"
                (cdkDropListDropped)="drop($event)"
                cdkDropListData="0"
                >

                  <div class="task" *ngFor="let employee of employees" cdkDrag [cdkDragData]="employee">
                   {{employee.id}},
                   {{employee.name}},
                   {{employee.email}},
                   {{employee.phone}},
                   <a class="button is-small button is-primary is-inverted" [routerLink]="['/employees', 'edit' , employee.id ]"
                   >edit</a>



                  </div>
                </div>

            </div>
            <div class="board-column">
                <div class="column-title">
                    At Work Employees
                </div>

                <div class="task-container"
                cdkDropList
                #todoList="cdkDropList"
                cdkDropListData="1"
                (cdkDropListDropped)="drop($event)">

                  <div class="task" *ngFor="let employee of atWork" cdkDrag>
                    {{employee.name}},
                    {{employee.email}},
                    {{employee.phone}},
                  </div>
                </div>

            </div>
            <div class="board-column">
                <div class="column-title">
                    Off Employees
                </div>

                <div class="task-container"
                cdkDropList
                #todoList="cdkDropList"
                cdkDropListData="2"
                (cdkDropListDropped)="drop($event)">

                  <div class="task" *ngFor="let employee of offWork" cdkDrag>
                    {{employee.name}},
                    {{employee.email}},
                    {{employee.phone}},
                  </div>
                </div>



            </div>

        </div>

      </div>

  </div>

</div>



