<div class="root">

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    </div>
  
  
    <div id="KanBanNavBar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="">
          Employees
        </a>
  
        <a class="navbar-item" href="#">
          Add Employee
        </a>
  
        <a class="navbar-item" href="#">
         Edit Employee
        </a>
  
      </div>
    </div>
  </nav>
  <!--* board bar and columns HTML -->

  <div class="board">
    <div class="baord-wrapper">

        <div class="board-columns">
            <div class="board-column">
                <div class="column-title">
                    Employees
                </div>
                <div class="task-container">
                  <div class="task">
                    this is a task !!!
                  </div>
                </div>

            </div>
            <div class="board-column">
                <div class="column-title">
                    At Work Employees
                </div>

            </div>
            <div class="board-column">
                <div class="column-title">
                    Off Employees
                </div>
               
            </div>
            
        </div>
        
      </div>

  </div>

</div>


  
