<div class="root">

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    </div>
  
  
    <div id="KanBanNavBar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="employee">
          Employees
        </a>
  
        <a class="navbar-item" href="#">
          Add Employee
        </a>
  
        <a class="navbar-item" href="#">
         Edit Employee
        </a>
  
      </div>
    </div>
  </nav>
  <!--* board bar and columns HTML -->

  <div class="board">
    <div class="baord-wrapper">

        <div class="board-columns" cdkDropListGroup>
            <div class="board-column">
                <div class="column-title">
                    Employees
                </div>
                <div class="task-container" 
                cdkDropList
                #todoList="cdkDropList"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="employees"
                >

                  <div class="task" *ngFor="let employee of employees" cdkDrag>
                   {{employee.id}},
                   {{employee.name}},
                   {{employee.email}},
                   {{employee.phone}},
                  </div>
                </div>

            </div>
            <div class="board-column">
                <div class="column-title">
                    At Work Employees
                </div>

                <div class="task-container" 
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="employees"
                (cdkDropListDropped)="drop($event)">

                  <div class="task" *ngFor="let item of employees" cdkDrag>
                   {{item}}
                  </div>
                </div>

            </div>
            <div class="board-column">
                <div class="column-title">
                    Off Employees
                </div>
               
            </div>
            
        </div>
        
      </div>

  </div>

</div>


  
